{% extends 'base.html' %}

{% block title %}
  Home | {{ DASHBOARD_NAME }}
{% endblock %}

{% block content %}
  {% load home_tags %}
  <div id="homeContent" class="content-container">Hello</div>
  <div id="applicationsContent" class="content-container" style="display:none;">
    <div class="frequently-used-applications">
      <div class="section-header">
        <h2>Frequently Used Applications</h2>
        <span class="line"></span>
      </div>
      <div class="ag-courses_box">
        {% for app in frequently_used %}
          <div class="ag-courses_item">
            {# prettier-ignore #}
            <a href="{% url app.application_name|application_url %}" class="ag-courses-item_link" data-app-name="{{ app.application_name }}" style="background-image: url('{{ app.application_name|static_image_url }}');">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">{{ app.application_name }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="all-applications">
      <div class="section-header">
        <h2>All Applications</h2>
        <span class="line"></span>
      </div>
      <div class="ag-courses_box">
        {% for app_name in all_applications %}
          <div class="ag-courses_item">
            {# prettier-ignore #}
            <a href="{% url app_name|application_url %}" class="ag-courses-item_link" data-app-name="{{ app_name }}" style="background-image: url('{{ app_name|static_image_url }}');">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">{{ app_name }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
