<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register | {{ DASHBOARD_NAME }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
  </head>
  <body class="body-background">
    <div class="logo">
      <img src="{% static 'images/pmc_logo.png' %}" alt="logo" style="height: 12vh; width: 8vw; margin-top: 10px" />
      <img src="{% static 'images/government_of_india_logo.svg' %}" alt="logo" style="height: 15vh; width: 12vw; margin-left: 40px; margin-top: 10px" />
    </div>
    <div class="dashboard_title_container" style="display: flex; justify-content: center; margin-top: 20px">
      <h1 id="dashboard_title" class="dashboard-title">{{ DASHBOARD_NAME }}</h1>
    </div>
    <div class="container" id="register-form">
      <div class="registration form">
        <header>User Registration</header>
        <form id="registrationForm" method="POST" action="{% url 'register' %}">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="radio-group">
            <label class="radio-label"><input type="radio" name="user_type" value="citizen" checked />Citizen</label>
            <label class="radio-label"><input type="radio" name="user_type" value="officer" />Officer</label>
          </div>
          <div class="form-group" id="governmentID">
            <label for="{{ form.government_id.id_for_label }}" class="form-label">Government ID:</label>
            <select id="{{ form.government_id.id_for_label }}" name="{{ form.government_id.name }}" class="form-control" onchange="switchGovIDType();">
              <option value="aadhar">Aadhar Card</option>
              <option value="pan">PAN Card</option>
              <option value="ration">Ration Card</option>
            </select>
            {{ form.aadhar_card_id }} {{ form.pan_card_id }} {{ form.ration_card_id }}
            <a href="#" style="margin-bottom: 10px; margin-top: 0;">Verify</a>
          </div>
          <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label>
            {{ form.username }}
            {% if form.username.errors %}
              {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.mobile_number.id_for_label }}" class="form-label">Mobile Number:</label>
            {{ form.mobile_number }}
            {% if form.mobile_number.errors %}
              {% for error in form.mobile_number.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name:</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
              {% for error in form.first_name.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name:</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
              {% for error in form.last_name.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div id="departmentField" class="form-group" style="display: none;">
            <label for="{{ form.department.id_for_label }}" class="form-label">Department:</label>
            {{ form.department }}
            {% if form.department.errors %}
              {% for error in form.department.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.gender.id_for_label }}" class="form-label">Gender:</label>
            <select id="{{ form.gender.id_for_label }}" name="{{ form.gender.name }}" class="form-control">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            {% if form.gender.errors %}
              {% for error in form.gender.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.marital_status.id_for_label }}" class="form-label">Marital Status:</label>
            <select id="{{ form.marital_status.id_for_label }}" name="{{ form.marital_status.name }}" class="form-control">
              <option value="single">Single</option>
              <option value="married">Married</option>
              <option value="divorced">Divorced</option>
              <option value="widowed">Widowed</option>
            </select>
            {% if form.marital_status.errors %}
              {% for error in form.marital_status.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.spouse_name.id_for_label }}" class="form-label">Spouse Name:</label>
            {{ form.spouse_name }}
            {% if form.spouse_name.errors %}
              {% for error in form.spouse_name.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.children_details.id_for_label }}" class="form-label">Children Details:</label>
            {{ form.children_details }}
            {% if form.children_details.errors %}
              {% for error in form.children_details.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.employment_type.id_for_label }}" class="form-label">Employment Type:</label>
            {{ form.employment_type }}
            {% if form.employment_type.errors %}
              {% for error in form.employment_type.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.occupation_type.id_for_label }}" class="form-label">Occupation Type:</label>
            {{ form.occupation_type }}
            {% if form.occupation_type.errors %}
              {% for error in form.occupation_type.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.number_of_family_members.id_for_label }}" class="form-label">Numbe of Family Members:</label>
            {{ form.number_of_family_members }}
            {% if form.number_of_family_members.errors %}
              {% for error in form.number_of_family_members.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.dob.id_for_label }}" class="form-label">Date of Birth:</label>
            {{ form.dob }}
            {% if form.dob.errors %}
              {% for error in form.dob.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.place_of_birth.id_for_label }}" class="form-label">Place of Birth:</label>
            {{ form.place_of_birth }}
            {% if form.place_of_birth.errors %}
              {% for error in form.place_of_birth.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.nationality.id_for_label }}" class="form-label">Nationality:</label>
            <select id="{{ form.nationality.id_for_label }}" name="{{ form.nationality.name }}" class="form-control">
              <option value="Afghan">Afghan</option>
              <option value="Albanian">Albanian</option>
              <option value="Algerian">Algerian</option>
              <option value="American">American</option>
              <option value="Andorran">Andorran</option>
              <option value="Angolan">Angolan</option>
              <option value="Anguillan">Anguillan</option>
              <option value="Citizen of Antigua and Barbuda">Citizen of Antigua and Barbuda</option>
              <option value="Argentine">Argentine</option>
              <option value="Armenian">Armenian</option>
              <option value="Australian">Australian</option>
              <option value="Austrian">Austrian</option>
              <option value="Azerbaijani">Azerbaijani</option>
              <option value="Bahamian">Bahamian</option>
              <option value="Bahraini">Bahraini</option>
              <option value="Bangladeshi">Bangladeshi</option>
              <option value="Barbadian">Barbadian</option>
              <option value="Belarusian">Belarusian</option>
              <option value="Belgian">Belgian</option>
              <option value="Belizean">Belizean</option>
              <option value="Beninese">Beninese</option>
              <option value="Bermudian">Bermudian</option>
              <option value="Bhutanese">Bhutanese</option>
              <option value="Bolivian">Bolivian</option>
              <option value="Citizen of Bosnia and Herzegovina">Citizen of Bosnia and Herzegovina</option>
              <option value="Botswanan">Botswanan</option>
              <option value="Brazilian">Brazilian</option>
              <option value="British">British</option>
              <option value="Virgin Islander">Virgin Islander</option>
              <option value="Bruneian">Bruneian</option>
              <option value="Bulgarian">Bulgarian</option>
              <option value="Burkinan">Burkinan</option>
              <option value="Burmese">Burmese</option>
              <option value="Burundian">Burundian</option>
              <option value="Cambodian">Cambodian</option>
              <option value="Cameroonian">Cameroonian</option>
              <option value="Canadian">Canadian</option>
              <option value="Cape Verdean">Cape Verdean</option>
              <option value="Cayman Islander">Cayman Islander</option>
              <option value="Central African">Central African</option>
              <option value="Chadian">Chadian</option>
              <option value="Chilean">Chilean</option>
              <option value="Chinese">Chinese</option>
              <option value="Colombian">Colombian</option>
              <option value="Comoran">Comoran</option>
              <option value="Congolese (Congo)">Congolese (Congo)</option>
              <option value="Congolese (DRC)">Congolese (DRC)</option>
              <option value="Cook Islander">Cook Islander</option>
              <option value="Costa Rican">Costa Rican</option>
              <option value="Croatian">Croatian</option>
              <option value="Cuban">Cuban</option>
              <option value="Cymraes">Cymraes</option>
              <option value="Cymro">Cymro</option>
              <option value="Cypriot">Cypriot</option>
              <option value="Czech">Czech</option>
              <option value="Danish">Danish</option>
              <option value="Djiboutian">Djiboutian</option>
              <option value="Dominican">Dominican</option>
              <option value="Citizen of the Dominican Republic">Citizen of the Dominican Republic</option>
              <option value="Dutch East">Dutch East</option>
              <option value="Timorese">Timorese</option>
              <option value="Ecuadorean">Ecuadorean</option>
              <option value="Egyptian">Egyptian</option>
              <option value="Emirati">Emirati</option>
              <option value="English">English</option>
              <option value="Equatorial">Equatorial</option>
              <option value="Guinean">Guinean</option>
              <option value="Eritrean">Eritrean</option>
              <option value="Estonian">Estonian</option>
              <option value="Ethiopian">Ethiopian</option>
              <option value="Faroese">Faroese</option>
              <option value="Fijian">Fijian</option>
              <option value="Filipino">Filipino</option>
              <option value="Finnish">Finnish</option>
              <option value="French">French</option>
              <option value="Gabonese">Gabonese</option>
              <option value="Gambian">Gambian</option>
              <option value="Georgian">Georgian</option>
              <option value="German">German</option>
              <option value="Ghanaian">Ghanaian</option>
              <option value="Gibraltarian">Gibraltarian</option>
              <option value="Greek">Greek</option>
              <option value="Greenlandic">Greenlandic</option>
              <option value="Grenadian">Grenadian</option>
              <option value="Guamanian">Guamanian</option>
              <option value="Guatemalan">Guatemalan</option>
              <option value="Citizen of Guinea-Bissau">Citizen of Guinea-Bissau</option>
              <option value="Guinean">Guinean</option>
              <option value="Guyanese">Guyanese</option>
              <option value="Haitian">Haitian</option>
              <option value="Honduran">Honduran</option>
              <option value="Hong Konger">Hong Konger</option>
              <option value="Hungarian">Hungarian</option>
              <option value="Icelandic">Icelandic</option>
              <option value="Indian">Indian</option>
              <option value="Indonesian">Indonesian</option>
              <option value="Iranian">Iranian</option>
              <option value="Iraqi">Iraqi</option>
              <option value="Irish">Irish</option>
              <option value="Israeli">Israeli</option>
              <option value="Italian">Italian</option>
              <option value="Ivorian">Ivorian</option>
              <option value="Jamaican">Jamaican</option>
              <option value="Japanese">Japanese</option>
              <option value="Jordanian">Jordanian</option>
              <option value="Kazakh">Kazakh</option>
              <option value="Kenyan">Kenyan</option>
              <option value="Kittitian">Kittitian</option>
              <option value="Citizen of Kiribati">Citizen of Kiribati</option>
              <option value="Kosovan">Kosovan</option>
              <option value="Kuwaiti">Kuwaiti</option>
              <option value="Kyrgyz">Kyrgyz</option>
              <option value="Lao Latvian">Lao Latvian</option>
              <option value="Lebanese">Lebanese</option>
              <option value="Liberian">Liberian</option>
              <option value="Libyan">Libyan</option>
              <option value="Liechtenstein citizen">Liechtenstein citizen</option>
              <option value="Lithuanian">Lithuanian</option>
              <option value="Luxembourger">Luxembourger</option>
              <option value="Macanese">Macanese</option>
              <option value="Macedonian">Macedonian</option>
              <option value="Malagasy">Malagasy</option>
              <option value="Malawian">Malawian</option>
              <option value="Malaysian">Malaysian</option>
              <option value="Maldivian">Maldivian</option>
              <option value="Malian">Malian</option>
              <option value="Maltese">Maltese</option>
              <option value="Marshallese">Marshallese</option>
              <option value="Martiniquais">Martiniquais</option>
              <option value="Mauritanian">Mauritanian</option>
              <option value="Mauritian">Mauritian</option>
              <option value="Mexican">Mexican</option>
              <option value="Micronesian">Micronesian</option>
              <option value="Moldovan">Moldovan</option>
              <option value="Monegasque">Monegasque</option>
              <option value="Mongolian">Mongolian</option>
              <option value="Montenegrin">Montenegrin</option>
              <option value="Montserratian">Montserratian</option>
              <option value="Moroccan">Moroccan</option>
              <option value="Mosotho">Mosotho</option>
              <option value="Mozambican">Mozambican</option>
              <option value="Namibian">Namibian</option>
              <option value="Nauruan">Nauruan</option>
              <option value="Nepalese">Nepalese</option>
              <option value="New Zealander">New Zealander</option>
              <option value="Nicaraguan">Nicaraguan</option>
              <option value="Nigerian">Nigerian</option>
              <option value="Nigerien">Nigerien</option>
              <option value="Niuean">Niuean</option>
              <option value="North Korean">North Korean</option>
              <option value="Northern Irish">Northern Irish</option>
              <option value="Norwegian">Norwegian</option>
              <option value="Omani">Omani</option>
              <option value="Pakistani">Pakistani</option>
              <option value="Palauan">Palauan</option>
              <option value="Palestinian">Palestinian</option>
              <option value="Panamanian">Panamanian</option>
              <option value="Papua">Papua</option>
              <option value="New Guinean">New Guinean</option>
              <option value="Paraguayan">Paraguayan</option>
              <option value="Peruvian">Peruvian</option>
              <option value="Pitcairn Islander">Pitcairn Islander</option>
              <option value="Polish">Polish</option>
              <option value="Portuguese">Portuguese</option>
              <option value="Prydeinig">Prydeinig</option>
              <option value="Puerto Rican">Puerto Rican</option>
              <option value="Qatari">Qatari</option>
              <option value="Romanian">Romanian</option>
              <option value="Russian">Russian</option>
              <option value="Rwandan">Rwandan</option>
              <option value="Salvadorean">Salvadorean</option>
              <option value="Sammarinese">Sammarinese</option>
              <option value="Samoan">Samoan</option>
              <option value="Sao Tomean">Sao Tomean</option>
              <option value="Saudi">Saudi</option>
              <option value="Arabian">Arabian</option>
              <option value="Scottish">Scottish</option>
              <option value="Senegalese">Senegalese</option>
              <option value="Serbian">Serbian</option>
              <option value="Citizen of Seychelles">Citizen of Seychelles</option>
              <option value="Sierra Leonean">Sierra Leonean</option>
              <option value="Singaporean">Singaporean</option>
              <option value="Slovak">Slovak</option>
              <option value="Slovenian">Slovenian</option>
              <option value="Solomon Islander">Solomon Islander</option>
              <option value="Somali">Somali</option>
              <option value="South African">South African</option>
              <option value="South Korean">South Korean</option>
              <option value="South Sudanese">South Sudanese</option>
              <option value="Spanish">Spanish</option>
              <option value="Sri Lankan">Sri Lankan</option>
              <option value="St Helenian">St Helenian</option>
              <option value="St Lucian">St Lucian</option>
              <option value="Stateless">Stateless</option>
              <option value="Sudanese">Sudanese</option>
              <option value="Surinamese">Surinamese</option>
              <option value="Swazi">Swazi</option>
              <option value="Swedish">Swedish</option>
              <option value="Swiss">Swiss</option>
              <option value="Syrian">Syrian</option>
              <option value="Taiwanese">Taiwanese</option>
              <option value="Tajik">Tajik</option>
              <option value="Tanzanian">Tanzanian</option>
              <option value="Thai">Thai</option>
              <option value="Togolese">Togolese</option>
              <option value="Tongan">Tongan</option>
              <option value="Trinidadian">Trinidadian</option>
              <option value="Tristanian">Tristanian</option>
              <option value="Tunisian">Tunisian</option>
              <option value="Turkish">Turkish</option>
              <option value="Turkmen">Turkmen</option>
              <option value="Turks and Caicos Islander">Turks and Caicos Islander</option>
              <option value="Tuvaluan">Tuvaluan</option>
              <option value="Ugandan">Ugandan</option>
              <option value="Ukrainian">Ukrainian</option>
              <option value="Uruguayan">Uruguayan</option>
              <option value="Uzbek">Uzbek</option>
              <option value="Vatican citizen">Vatican citizen</option>
              <option value="Citizen of Vanuatu">Citizen of Vanuatu</option>
              <option value="Venezuelan">Venezuelan</option>
              <option value="Vietnamese">Vietnamese</option>
              <option value="Vincentian">Vincentian</option>
              <option value="Wallisian">Wallisian</option>
              <option value="Welsh">Welsh</option>
              <option value="Yemeni">Yemeni</option>
              <option value="Zambian">Zambian</option>
              <option value="Zimbabwean">Zimbabwean</option>
            </select>
            {% if form.nationality.errors %}
              {% for error in form.nationality.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.address.id_for_label }}" class="form-label">Address:</label>
            {{ form.address }}
            {% if form.address.errors %}
              {% for error in form.address.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.city.id_for_label }}" class="form-label">City:</label>
            {{ form.city }}
            {% if form.city.errors %}
              {% for error in form.city.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.state.id_for_label }}" class="form-label">State:</label>
            {{ form.state }}
            {% if form.state.errors %}
              {% for error in form.state.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.pin_code.id_for_label }}" class="form-label">Pin Code:</label>
            {{ form.pin_code }}
            {% if form.pin_code.errors %}
              {% for error in form.pin_code.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.latitude.id_for_label }}" class="form-label">Latitude:</label>
            {{ form.latitude }}
            {% if form.latitude.errors %}
              {% for error in form.latitude.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.longitude.id_for_label }}" class="form-label">Longitude:</label>
            {{ form.longitude }}
            {% if form.longitude.errors %}
              {% for error in form.longitude.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.password1.id_for_label }}" class="form-label">Password:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
              {% for error in form.password1.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
              {% for error in form.password2.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="button-container">
            <button id="button" type="submit" class="btn btn-primary">Register</button>
          </div>
          <a href="{% url 'login' %}">Back to Login</a>
        </form>
      </div>
    </div>
    <script src="{% static 'js/register.js' %}" type="text/javascript"></script>
  </body>
</html>
